{% extends 'parts/layout.twig' %}

{% block title %}
	<title>нек4 - съемка панорам для Яндекс.Карт</title>
{% endblock %}



{% block content %}
	{#TOP IMAGE BLOCK#}
	<section class="top-image-block">
		<div class="top-image-block__container container">
			<div class="top-image-block__content">
				<h1 class="top-image-block__title">
					Партнерская программа
					<br>
					для фотографов, студий
					<br>
					и рекламных агентств
				</h1>
				<div class="top-image-block__bottom clearfix">
					<p class="top-image-block__bottom-text">
						Получите возможность публиковать панорамы ваших клиентов
						на Яндекс.Картах.
					</p>
					<div class="top-image-block__bottom-yandex-logo"></div>
				</div>
			</div>
		</div>
	</section>
	{#/TOP IMAGE BLOCK#}

	{#INFO BLOCK#}
	<section class="info-block">
		<div class="info-block__container container">
			<div class="info-block__list">
				<div class="info-block__item info-block__item_collaboration">
					<i class="info-block__item-icon"></i>
					<p class="info-block__item-title">Схема сотрудничества</p>
					<div class="info-block__item-text-wrap">
						<p class="info-block__item-text">
							Вы&nbsp;привлекаете клиентов в&nbsp;вашем регионе, проводите съемку и&nbsp;склейку панорам.
						</p>
						<p class="info-block__item-text">
							Мы&nbsp;осуществляем геопривязку панорам и&nbsp;публикуем материалы на&nbsp;Яндекс.Картах.
						</p>
					</div>
				</div>
				<div class="info-block__item info-block__item_partners">
					<i class="info-block__item-icon"></i>
					<p class="info-block__item-title">Партнеры получают</p>
					<div class="info-block__item-text-wrap">
						<p class="info-block__item-text">
							Cпециальную стоимость услуг на&nbsp;публикацию.
						</p>
						<p class="info-block__item-text">
							Обучение и&nbsp;сертификацию фотографов.
						</p>
						<p class="info-block__item-text">
							Маркетинговую и&nbsp;информационную поддержку.
						</p>
						<p class="info-block__item-text">
							Входящие заказы.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	{#/INFO BLOCK#}

	{#FAQ#}
	<div class="faq-block" id="faq">
		<div class="faq-block__container container">
			<h2 class="faq-block__title">Часто задаваемые вопросы</h2>

			<div class="faq-block__columns">

				{#NAVIGATION#}
				<nav class="faq-block__nav">
					<div class="faq-block__nav-inner" id="faq-block-nav">
						<div class="faq-block__nav-indicator" id="faq-indicator"></div>
						<ul class="faq-block__nav-list">
							<li class="faq-block__nav-item">
								<a href="#faq-item-1" class="faq-block__nav-item-link js-smooth-scroll">
									Кто может принять участие?
								</a>
							</li>
							<li class="faq-block__nav-item">
								<a href="#faq-item-2" class="faq-block__nav-item-link js-smooth-scroll">
									Какое оборудование для съемки панорам надо использовать?
								</a>
							</li>
							<li class="faq-block__nav-item">
								<a href="#faq-item-3" class="faq-block__nav-item-link js-smooth-scroll">
									Нужно ли готовить помещения
									к съемке?
								</a>
							</li>
							<li class="faq-block__nav-item">
								<a href="#faq-item-4" class="faq-block__nav-item-link js-smooth-scroll">
									Как организовать процесс съемки?
								</a>
							</li>
							<li class="faq-block__nav-item">
								<a href="#faq-item-5" class="faq-block__nav-item-link js-smooth-scroll">
									Как выбрать точки для съемки панорам?
								</a>
							</li>
							<li class="faq-block__nav-item">
								<a href="#faq-item-6" class="faq-block__nav-item-link js-smooth-scroll">
									Каковы технические требования
									к материалам, передаваемым
									на публикацию?
								</a>
							</li>
						</ul>
					</div>
				</nav>
				{#/NAVIGATION#}

				{#LIST#}
				<div class="faq-block__list">

					{#ITEM 1#}
					<div class="faq-block__item" id="faq-item-1">
						<p class="faq-block__item-title">Кто может принять участие?</p>

						<div class="faq-block__item-text">
							Мы приглашаем к участию в программе фотографов и агентства, с учетом следующих условий:
							<ul>
								<li>наличие юридического лица или ИП;</li>
								<li>наличие оборудования для проведения панорамной съемки.</li>
							</ul>
						</div>
					</div>
					{#/ITEM 1#}

					{#ITEM 2#}
					<div class="faq-block__item" id="faq-item-2">
						<p class="faq-block__item-title">Какое оборудование для съемки панорам надо использовать?</p>

						<div class="faq-block__item-text">
							Чтобы легко получить высококачественные панорамы мы рекомендуем
							использовать следующее оборудование:
							<ul>
								<li>полнокадровая камера не старше 2012 года разработки
									(Nikon D800, Canon EOS 5D Mark III, Sony A7r);</li>
								<li>фишай-объектив;</li>
								<li>жесткий штатив и панорамная голова;</li>
								<li>пульт дистанционного спуска.</li>
							</ul>
						</div>
					</div>
					{#/ITEM 2#}

					{#ITEM 3#}
					<div class="faq-block__item" id="faq-item-3">
						<p class="faq-block__item-title">Нужно ли готовить помещения
							к съемке?</p>

						<div class="faq-block__item-text">
							Посоветуйте заказчику внимательно подготовить помещения к съемке:
							<ul>
								<li>произвести уборку;</li>
								<li>проверить, что работают все осветительные приборы;</li>
								<li>проконтролировать, чтобы из помещений были убраны предметы, присутствие которых на панорамах нежелательно, (например
									переполненные урны с мусором и тому подобное).</li>
							</ul>
						</div>
					</div>
					{#/ITEM 3#}

					{#ITEM 4#}
					<div class="faq-block__item" id="faq-item-4">
						<p class="faq-block__item-title">Как организовать процесс съемки?</p>

						<div class="faq-block__item-text">
							Условия:
							<ul>
								<li>во время съемки необходимо обеспечить прямую видимость между
									соседними панорамами;</li>
								<li>расстояние между соседними панорамами: внутри помещений — не более
									25 метров, на улице — не более 40 метров;</li>
								<li>высота камеры на штативе должна быть на уровне 1,5-2 метра;</li>
								<li>с автомобильных дорог пешеходная съемка не производится;</li>
								<li>на панораме не должно быть смазанных объектов, (например: люди
									или автомобили, снятые на длинной выдержке);</li>
								<li>панорамы, расположенные на улице и в помещениях с окнами, должны
									сниматься в светлое время суток, желательно в солнечную погоду, ночью
									и в сумерках снимать нельзя;</li>
								<li>при съемке панорам в помещениях все источники света должны быть включены.</li>
								<li>в зеркалах не должно быть видно отражения фотографа, допускается отражение в зеркалах штатива и камеры.</li>
							</ul>
						</div>
					</div>
					{#/ITEM 4#}

					{#ITEM 5#}
					<div class="faq-block__item" id="faq-item-5">
						<p class="faq-block__item-title">Как выбрать точки для съемки панорам?</p>

						<div class="faq-block__item-text">
							Рекомендации:
							<ul>
								<li>первая панорама снимается на улице непосредственно перед дверью на территорию или в помещение, по возможности вывеска должна быть хорошо видна на панораме;</li>
								<li>вторая панорама снимается внутри сразу после входа на территорию или
									в помещение;</li>
								<li>Если объект съемки находится внутри здания и не имеет собственного входа
									с улицы, то первая панорама должна быть сделана на улице перед входом
									в здание, вторая панорама снимается внутри здания, непосредственно перед входом в помещение и третья снимается внутри объекта сразу после входа
									в помещение.</li>
							</ul>

							Дальнейший выбор точек съемки должен происходить с учетом:
							<ul>
								<li>прямой видимости из точки в точку, при этом допускается наличие между точками невысоких препятствий (до 1 метра);</li>
								<li>навигации — совпадать с основными маршрутами перемещения;</li>
								<li>информативности — концентрировать внимание на самых важных объектах;</li>
								<li>логичности — точки должны выбираться единообразно, с учетом выбора соседних точек.</li>
							</ul>
						</div>
					</div>
					{#/ITEM 5#}

					{#ITEM 6#}
					<div class="faq-block__item" id="faq-item-6">
						<p class="faq-block__item-title">Каковы технические требования
							к материалам, передаваемым
							на публикацию?</p>

						<div class="faq-block__item-text">
							Требования:
							<ul>
								<li>угол обзора по&nbsp;горизонтали&nbsp;&mdash; 360&deg;;</li>
								<li>угол обзора по&nbsp;вертикали&nbsp;&mdash; 150&deg; (верх виден полностью, низ виден
									за&nbsp;исключением штатива);</li>
								<li>зенит обязателен;</li>
								<li>разрешение&nbsp;&mdash; 9&nbsp;472&nbsp;px по&nbsp;горизонтали, программное
									увеличение не&nbsp;допускается;</li>
								<li>вид проекции&nbsp;&mdash; равнопромежуточная (equirectangular);</li>
								<li>изображение должно быть резким, с&nbsp;правильным балансом белого,
									контрастом и&nbsp;яркостью;</li>
								<li>не&nbsp;допускаются заметные шумы, аберрации и&nbsp;блики;</li>
								<li>не&nbsp;допускаются дефекты склейки: швы, неверные вертикали, дубли,
									разрезанные швом объекты;</li>
								<li>не&nbsp;допускаются наличие разрезанных или смазанных изображений людей;</li>
								<li>не&nbsp;допускается создание фотоколлажей;</li>
								<li>не&nbsp;должно быть видно излишней пост-обработки: HDR, избыточного
									использования эффекта sharp и&nbsp;пикселизации.
								</li>
							</ul>
						</div>
					</div>
					{#/ITEM 6#}

				</div>
				{#/LIST#}

			</div>
		</div>
	</div>
	{#/FAQ#}

	{#PARTNERS BLOCK#}
	<section class="partners container" id="partners">
		<h2 class="partners__title">Партнеры</h2>
		<div class="partners__list">
			<div class="partners__item">
				<p class="partners__item-name">BusinessPanorama</p>
				<p class="partners__item-phone">Санкт-Петербург: +7 (812) 324-88-63</p>
				<p class="partners__item-phone">Москва: +7 (495) 966-06-34</p>
				<a href="http://businesspanorama.ru/" rel="nofollow" target="_blank" class="partners__item-site">businesspanorama.ru</a>
				<div class="partners__item-logo">
					<img src="img/businesspanorama-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Премьер проджект</p>
				<p class="partners__item-phone">Санкт-Петербург: +7 (812) 983-33-26</p>
				<a href="http://premier.agency" rel="nofollow" target="_blank" class="partners__item-site">premier.agency</a>
				<div class="partners__item-logo">
					<img src="img/premier-project-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Геопрогресс</p>
				<p class="partners__item-phone">Томск: +7 (913) 841-09-03</p>
				<a href="http://geo3dtur.ru/" rel="nofollow" target="_blank" class="partners__item-site">geo3dtur.ru</a>
				<div class="partners__item-logo">
					<img src="img/geoprogress-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Хейдей</p>
				<p class="partners__item-phone">Новосибирск: +7 (800) 350-10-94</p>
				<a href="http://Heydayview.ru" rel="nofollow" target="_blank" class="partners__item-site">Heydayview.ru</a>
				<div class="partners__item-logo">
					<img src="img/heyday-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Yes!</p>
				<p class="partners__item-phone">Санкт-Петербург: +7 (911) 225-13-41</p>
				<a href="http://www.foto-yes.ru" rel="nofollow" target="_blank" class="partners__item-site">www.foto-yes.ru</a>
				<div class="partners__item-logo">
					<img src="img/yes-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Сибирская панорамная студия</p>
				<p class="partners__item-phone">Новосибирскг: +7 (913) 467-01-89</p>
				<a href="http://3d-sight.ru" rel="nofollow" target="_blank" class="partners__item-site">3d-sight.ru</a>
				<div class="partners__item-logo">
					<img src="img/sib_pan_studio-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">3D43</p>
				<p class="partners__item-phone">Киров: +7 (953) 670-19-01</p>
				<a href="http://3d43.ru" rel="nofollow" target="_blank" class="partners__item-site">3d43.ru</a>
				<div class="partners__item-logo">
					<img src="img/3d43-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Af-pano</p>
				<p class="partners__item-phone">г. Екатеринбург​: +7 950 208-12-35</p>
				<a href="http://af-pano.ru" rel="nofollow" target="_blank" class="partners__item-site">af-pano.ru</a>
				<div class="partners__item-logo">
					<img src="img/afpano-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Виртуальные туры</p>
				<p class="partners__item-phone">Красноярск: +7 (923) 594-88-48</p>
				<a href="http://bizness-foto.ru" rel="nofollow" target="_blank" class="partners__item-site">bizness-foto.ru</a>
				<div class="partners__item-logo">
					<img src="img/vt-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Панорама55</p>
				<p class="partners__item-phone">Омск: +7 (904) 074-72-559</p>
				<a href="http://panorama55.ru" rel="nofollow" target="_blank" class="partners__item-site">panorama55.ru</a>
				<div class="partners__item-logo">
					<img src="img/panorama55-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Pano74</p>
				<p class="partners__item-phone">Челябинск: +7 (912) 305-19-73</p>
				<a href="http://pano74.ru/" rel="nofollow" target="_blank" class="partners__item-site">pano74.ru</a>
				<div class="partners__item-logo">
					{#<img src="img/yes-logo.png" alt="" class="partners__item-logo-img">#}
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Панорама07</p>
				<p class="partners__item-phone">Северо-Кавказский федеральный округ, кроме Дагестана: +7 (905) 435-24-07</p>
				<a href="http://panorama07.ru" rel="nofollow" target="_blank" class="partners__item-site">panorama07.ru</a>
				<div class="partners__item-logo">
					{#<img src="img/yes-logo.png" alt="" class="partners__item-logo-img">#}
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">3D-туры в Белгороде</p>
				<p class="partners__item-phone">Белгород: +7 910 328-17-27</p>
				<a href="http://3d-bel.ru" rel="nofollow" target="_blank" class="partners__item-site">3d-bel.ru</a>
				<div class="partners__item-logo">
					{#<img src="img/yes-logo.png" alt="" class="partners__item-logo-img">#}
				</div>
			</div>

			<div class="partners__item">
				<p class="partners__item-name">Чебоксары 360</p>
				<p class="partners__item-phone">Татарстан, Чувашия, Марий-Эл: +7 917 078-87-55, +7 835 222-87-55</p>
				<a href="http://cheboksary360.ru" rel="nofollow" target="_blank" class="partners__item-site">cheboksary360.ru</a>
				<div class="partners__item-logo">
					<img src="img/cheboksary-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">Тольятти 3D</p>
				<p class="partners__item-phone">Самарская область: +7 987 960-67-72, +7 848 277-77-13</p>
				<a href="http://tlt3d.ru" rel="nofollow" target="_blank" class="partners__item-site">tlt3d.ru</a>
				<div class="partners__item-logo">
					<img src="img/toliyatty-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">3Dvlg – виртуальные туры</p>
				<p class="partners__item-phone">Волгоградская обл., Астраханская обл., респ. Калмыкия: +7 903 373-58-85</p>
				<a href="http://3Dvlg.ru" rel="nofollow" target="_blank" class="partners__item-site">3Dvlg.ru</a>
				<div class="partners__item-logo">
					<img src="img/3dvlg-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">DAG PANO STUDIO</p>
				<p class="partners__item-phone">Дагестан: +7 918 736-68-63</p>
				<a href="http://lakia3d.ru" rel="nofollow" target="_blank" class="partners__item-site">lakia3d.ru</a>
				<div class="partners__item-logo">
					{#<img src="img/toliyatty-logo.png" alt="" class="partners__item-logo-img">#}
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">jam360</p>
				<p class="partners__item-phone">Курск, Орел, Белгород: +7 903 639-46-80</p>
				<a href="http://jam360.ru" rel="nofollow" target="_blank" class="partners__item-site">jam360.ru</a>
				<div class="partners__item-logo">
					{#<img src="img/jam360-logo.png" alt="" class="partners__item-logo-img">#}
				</div>
			</div>
			<div class="partners__item">
				<p class="partners__item-name">3dkrd</p>
				<p class="partners__item-phone">Краснодар: +7 928 208-03-19</p>
				<a href="http://3dkrd.ru" rel="nofollow" target="_blank" class="partners__item-site">3dkrd.ru</a>
				<div class="partners__item-logo">
					<img src="img/3dkrd-logo.png" alt="" class="partners__item-logo-img">
				</div>
			</div>
		</div>
	</section>
	{#/PARTNERS BLOCK#}

	{#REQUEST#}
	<section class="request-block" id="request">
		<div class="request-block__container container">
			<h2 class="request-block__title">Регистрация</h2>

			{#FORM#}
			<div class="request-block__form">
				<form id = "callback" action="" method="post">

					<div class="form">
						<div class="form__input-holder">
							<label for="" class="form__input-name">Имя и фамилия</label>
							<input type="text" name="name" class="form__input">
							<p class="form__error" style="display: none;">Пожалуйста, укажите имя и фамилию</p>
						</div>

						<div class="form__input-holder">
							<label for="" class="form__input-name">Телефон</label>
							<input type="text" name="phone" class="form__input">
							<p class="form__error" style="display: none;">Пожалуйста, укажите телефон</p>
						</div>

						<div class="forn__input-break"></div>

						<div class="form__input-holder">
							<label for="" class="form__input-name">Название компании</label>
							<input type="text" name="company" class="form__input">
							<p class="form__error" style="display: none;">Пожалуйста, укажите название компании</p>
						</div>

						<div class="form__input-holder">
							<label for="" class="form__input-name">Электронная почта</label>
							<input type="text" name="email" class="form__input">
							<p class="form__error" style="display: none;">Электронная почта не указана или указана неверно</p>
						</div>
					</div>

					<div class="form__submit">
						<button type="submit" class="btn btn_big">
							<span class="btn__overlay"></span>
							<span class="btn__text">ЗАРЕГИСТРИРОВАТЬСЯ</span>
						</button>

						<div id="success-callback" class="form__submit-success" style="display: none;">
							<i class="form__submit-success-icon"></i>
							Спасибо! Мы свяжемся с вами.
						</div>
					</div>
				</form>
			</div>
			{#/FORM#}

		</div>
	</section>
	{#/REQUEST#}

	{#ABOUT COMPANY#}
	<section class="about-company container" id="company">
		<h2 class="about-company__title">О компании</h2>
		<p class="about-company__text">
			Мы занимаемся разработкой оборудования для съемок
			и съемками панорам для Яндекса с 2008 года.
		</p>
		<ul class="about-company__list">
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_distance"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line">Отснято более</p>
					<p class="about-company__item-text-line">100 000 км</p>
				</div>
			</li>
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_hill"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line"Эверест в мае 2016</p>
					<p class="about-company__item-text-line">8 848 м над уровнем моря</p>
				</div>
			</li>
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_around"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line">Отснята</p>
					<p class="about-company__item-text-line">2 000 000-я панорама</p>
				</div>
			</li>
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_sea"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line">Съемки Босфорского пр. с воды летом 2011</p>
					<p class="about-company__item-text-line">0 м над уровнем моря</p>
				</div>
			</li>
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_globe"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line">Проведены съемки</p>
					<p class="about-company__item-text-line">в 6 странах и 283 городах</p>
				</div>
			</li>
		</ul>
		<a href="http://neq4.ru/about" class="about-company__learn-more">УЗНАТЬ БОЛЬШЕ</a>
	</section>
	{#/ABOUT COMPANY#}

{% endblock %}
