@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic-ext');

.light() {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.regular() {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.semi-bold() {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.bold() {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

@font-face {
	font-family: 'Conv_rouble';
	src: url('../fonts/rouble.eot');
	src: local('☺'), url('../fonts/rouble.woff') format('woff'), url('../fonts/rouble.ttf') format('truetype'), url('../fonts/rouble.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.rub {
	text-transform: none;
	&:before {
		content: "a";
		font-family: 'Conv_rouble', sans-serif;
	}
}