// 1. Colors
// 2. Mixins


// 1. COLORS

@orange-color: #f25f22;
@yellow-color: #fdca15;
@text-color: #22201e;

@gold-color: #bbad65;

// 2. Mixins
.gradient() {
	background: #5acc3a;
	background: -webkit-linear-gradient(135deg, #5acc3a 0%, #1ea7ab 100%);
	background: linear-gradient(135deg, #5acc3a 0%, #1ea7ab 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5acc3a', endColorstr='#1ea7ab',GradientType=1 );
	box-shadow: 0 7px 14px rgba(90, 204, 58, 0.4), 0 1px 3px rgba(90, 204, 58, 0.3);

	&:before {

	}

	&:active {
		box-shadow: none;
	}
}

.svg-icon(@icon, @width, @height) {
	background: url('../img/@{icon}.svg') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.blue-link-green-hover() {
	color: #04b;
	.transition(all .2s ease);
	&:hover {
		color: #5acc3a;
	}
}