.scroll-button {
	position: fixed;
	bottom: 60px;
	left: 60px;
	opacity: 0;
	.transform(translateY(80px));
	.transition(all .4s ease-in-out);
	z-index: 200;
	&_visible {
		opacity: 1;
		.transform(translateY(0));
	}

	@media screen and (max-width: 770px) {
		display: none;
	}
}