.about-company {
	margin-bottom: 102px;

	&__title {
		color: #111;
		font-size: 55px;
		.regular();
		margin-bottom: 33px;
	}
	&__text {
		color: #111;
		.light();
		font-size: 30px;
		margin-bottom: 56px;
		padding-right: 280px;
		line-height: 1.4;
	}
	&__list {
		max-width: 784px;
		margin-left: 0;
		//margin-bottom: 42px;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		margin-right: 45px - 4px;
		width: calc(~"(100% - 45px) / 2");
		margin-bottom: 39px;
		&:nth-child(2n) {
			margin-right: -4px;
		}
	}
	&__item-icon {
		width: 45px;
		height: 45px;
		float: left;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
		}
		&_distance {
			&:after {
				.svg-icon(icon-green-distance, 45px, 45px);
				margin-top: -23px;
				margin-left: -23px;
			}
		}
		&_hill {
			&:after {
				.svg-icon(icon-green-hill, 45px, 40px);
				margin-top: -20px;
				margin-left: -23px;
			}
		}
		&_around {
			&:after {
				.svg-icon(icon-green-around, 45px, 33px);
				margin-top: -16px;
				margin-left: -23px;
			}
		}
		&_sea {
			&:after {
				.svg-icon(icon-green-sea, 45px, 33px);
				margin-top: -16px;
				margin-left: -23px;
			}
		}
		&_globe {
			&:after {
				.svg-icon(icon-green-globe, 45px, 45px);
				margin-top: -23px;
				margin-left: -23px;
			}
		}
	}
	&__item-text-wrap {
		margin-left: 50px + 17px;
		margin-top: 2px;
	}
	&__item-text-line {
		color: #222;
		&:first-child {
			.regular();
			font-size: 14px;
			margin-bottom: 7px;
		}
		&:last-child {
			.bold();
			font-size: 21px;
		}
	}
	&__learn-more {
		color: #04b;
		font-size: 14px;
		.semi-bold();
		text-decoration: none;
		padding-bottom: 4px;
		border-bottom: 2px solid transparent;
		position: relative;
		letter-spacing: 1px;
		&:hover {
			border-bottom-color: rgba(0, 68, 187, 0.25);
		}
		&:after {
			content: '';
			position: absolute;
			right: -27px;
			top: 4px;
			.svg-icon(icon-arrow-blue, 15px, 12px);
		}
	}
}

@media screen and (max-width: 770px) {
	.about-company {
		margin-bottom: 100px;

		&__title {
			font-size: 40px;
		}
		&__text {
			color: #111;
			.light();
			font-size: 24px;
			padding-right: 0;
		}
		&__list {
			max-width: 100%;
		}
		&__item {
			display: block;
			margin-right: 0;
			width: 100%;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}