.faq-block {
	margin-bottom: 102px;

	&__title {
		color: #111;
		.regular();
		font-size: 55px;
		margin-bottom: 44px;
	}
	&__columns {
		white-space: nowrap;
	}
	&__nav {
		display: inline-block;
		vertical-align: top;
		width: 408px;
		white-space: normal;
	}
	&__nav-inner {
		position: relative;
		width: 306px;
	}
	&__nav-indicator {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 85px;
		z-index: 10;
		background-color: #fdf5e1;
	}
	&__nav-list {
		position: relative;
		z-index: 20;
		padding: 6px 12px;
	}
	&__nav-item {
		margin-bottom: 17px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__nav-item-link {
		color: #1a1a1a;
		.regular();
		font-size: 16px;
		line-height: 24px;
		text-decoration: none;
		&:hover {
			color: #5acc3a;
		}
	}
	&__list {
		display: inline-block;
		vertical-align: top;
		max-width: 574px;
		white-space: normal;
	}
	&__item {
		margin-bottom: 42px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item-title {
		color: #222;
		.bold();
		font-size: 31px;
		line-height: 48px;
		margin-bottom: 10px;
	}
	&__item-text {
		color: #111;
		.regular();
		font-size: 16px;
		line-height: 24px;

		ul {
			list-style: none;
			margin-left: 24px;
			margin-top: 1px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			li {
				margin-bottom: 12px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1030px) {
	.faq-block {
		&__nav {
			display: none;
		}
		&__list {
			display: block;
			max-width: 574px;
		}
	}
}

@media screen and (max-width: 770px) {
	.faq-block {
		&__title {
			font-size: 40px;
		}
		&__item {
			margin-bottom: 30px;
		}
		&__item-title {
			font-size: 24px;
			line-height: 30px;
		}
		&__item-text {
			font-size: 16px;
		}
	}
}