.footer {
	padding-bottom: 174px;

	&__container {
		border-top: 1px solid #f1f1f1;
		padding-top: 45px;
	}
	&__main {
		float: left;
		width: 50%;
		//width: 620px;
	}
	&__column-wrap {
		margin-left: 42%;
		text-align: left;
	}
	&__column {
		display: inline-block;
		vertical-align: top;
		width: calc(~"(100% - 70px) / 2");
		margin-right: 70px - 4px;
		&:last-child {
			margin-right: -4px;
		}

		&_special {
			float: left;
			width: 42%;
			margin-right: 0;
		}
	}
	&__column-company-name {
		color: #111;
		font-size: 16px;
		.regular();
		margin-bottom: 32px;
	}
	&__column-address {

	}
	&__column-address-line {
		color: #111;
		font-size: 16px;
		.regular();
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__column-phone {
		color: #111;
		font-size: 16px;
		.regular();
		margin-bottom: 20px;
		a {
			color: #111;
			text-decoration: none;
		}
	}
	&__column-mail-wrap {
		margin-bottom: 22px;
	}
	&__column-mail {
		color: #04b;
		font-size: 16px;
		.regular();
		text-decoration: none;
		.transition(all .3s ease);
		&:hover {
			color: #5acc3a;
		}
	}
	&__column-feedback-wrap {
		margin-bottom: 10px;
	}
	&__column-feedback {
		font-size: 16px;
		.regular();
		text-decoration: none;
		.blue-link-green-hover();
	}
	&__column-menu-item {
		display: block;
		margin-bottom: 20px;
	}
	&__column-menu-link {
		color: #04b;
		font-size: 16px;
		.regular();
		text-decoration: none;
		.transition(all .3s ease);
		&:hover {
			color: #5acc3a;
		}
	}

	&__documents {
		float: right;
		width: 32%;
	}
	&__documents-item {
		display: block;
		margin-bottom: 17px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__documents-link {
		color: #04b;
		font-size: 16px;
		.regular();
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
		margin-right: 11px;
		.transition(all .3s ease);
		&:hover {
			color: #5acc3a;
		}
	}
	&__documents-size {
		display: inline-block;
		vertical-align: middle;

		color: #949494;
		font-size: 14px;
		.regular();
	}
}

@media screen and (max-width:  915px) {
	.footer {
		&__main {
			float: none;
			width: 100%;
		}
		&__documents {
			float: none;
			width: 100%;
		}
	}
}

@media screen and (max-width: 600px) {
	.footer {
		padding-bottom: 60px;

		&__column-wrap {
			margin-left: 0;
			text-align: left;
		}
		&__column {
			display: block;
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
			&:last-child {
				margin-right: 0;
				margin-bottom: 0;
			}

			&_special {
				float: none;
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}
}

