.header {
	padding-top: 31px;
	position: relative;
	z-index: 20;

	&__container {

	}
	&__logo {
		float: left;
		width: 173px;
	}
	&__logo-img {
		max-width: 100%;
	}
	&__contacts {
		float: right;
		text-align: right;
		white-space: nowrap;
	}
	&__buttons {
		display: inline-block;
		vertical-align: top;
	}
	&__contacts-profile {
		text-decoration: none;
		width: 48px;
		height: 48px;
		border: 1px solid rgba(151, 151, 151, 0.25);
		border-radius: 4px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-top: 4px;
		z-index: 30;
		&:before {
			content: "";
			position: absolute;
			top: 11px;
			left: 12px;
			.svg-icon('icon-user', 24px, 24px);
		}
		&:after {
			content: "";
			position: absolute;
			top: 11px;
			left: 12px;
			.svg-icon('icon-user-hover', 24px, 24px);
			opacity: 0;
			.transition(all .2s ease);
		}
		&:hover:after {
			opacity: 1;
		}

	}
	&__button {
		display: inline-block;
		vertical-align: top;
		padding-top: 5px;
	}
	&__phones {
		display: inline-block;
		vertical-align: top;
		margin-right: 38px - 4px;
		text-align: left;

	}
	&__phone {
		color: white;
		.light();
		font-size: 34px;
		margin-bottom: 4px;
		a {
			text-decoration: none;
			color: white;
		}
	}
	&__sub-phone {
		white-space: nowrap;
	}
	&__worktime {
		color: white;
		.regular();
		font-size: 14px;
		margin-right: 7px - 4px;
	}
	&__call-link {
		.regular();
		font-size: 14px;
		text-decoration: none;
		.blue-link-green-hover();
	}
}

@media screen and (max-width: 770px) {
	.header {
		&__container {
			display: flex;
			flex-direction: column;
		}
		&__logo {
			float: none;
			margin-bottom: 20px;
		}
		&__contacts {
			float: none;
			text-align: left;
			white-space: nowrap;
			display: flex;
			flex-direction: column;
		}
		&__phones {
			display: block;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}