.info-block {
	background: rgb(253,245,225);
	background: -moz-linear-gradient(top,  rgba(253,245,225,1) 0%, rgba(253,245,225,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(253,245,225,1) 0%,rgba(253,245,225,1) 100%);
	background: linear-gradient(to bottom,  rgba(253,245,225,1) 0%,rgba(253,245,225,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf5e1', endColorstr='#fdf5e1',GradientType=0 );
	padding-top: 96px;
	padding-bottom: 130px;
	margin-bottom: 115px;

	&__container {

	}
	&__list {
		padding-right: 145px;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		margin-right: 177px - 4px;
		width: calc(~"(100% - 177px) / 2");
		&:last-child {
			margin-right: -4px;
		}
	}
	&__item-icon {
		display: inline-block;
		width: 96px;
		height: 72px;
		margin-bottom: 20px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
		}
		.info-block__item_collaboration & {
			&:after {
				.svg-icon(icon-collaboration, 96px, 72px);
				margin-top: -36px;
				margin-left: -48px;
			}
		}
		.info-block__item_partners & {
			&:after {
				.svg-icon(icon-star, 66px, 63px);
				margin-top: -31px;
				left: 0;
			}
		}
	}
	&__item-title {
		color: #222;
		font-size: 31px;
		margin-bottom: 15px;
		.bold();
	}
	&__item-text-wrap {

	}
	&__item-text {
		color: #222;
		font-size: 16px;
		.regular();
		line-height: 1.3;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 1125px) {
	.info-block {

		&__list {
			padding-right: 0;
		}
		&__item {
			margin-right: 80px - 4px;
			width: calc(~"(100% - 80px) / 2");
		}
	}
}

@media screen and (max-width: 770px) {
	.info-block {
		padding-top: 70px;
		padding-bottom: 70px;
		margin-bottom: 65px;

		&__item {
			display: block;
			margin-right: 0;
			width: 100%;
			&:last-child {
				margin-right: 0;
			}
		}
		&__item-title {
			font-size: 25px;
		}
	}
}