.partners {
	margin-bottom: 108px;

	&__title {
		color: #111;
		font-size: 55px;
		.regular();
		margin-bottom: 36px;
	}
	&__list {

	}
	&__item {
		display: inline-block;
		vertical-align: top;
		width: calc(~"(100% - 106px * 2) / 3");
		vertical-align: top;
		margin-right: 106px - 4px;
		margin-bottom: 60px;
		&:nth-child(3n) {
			margin-right: -4px;
		}
	}
	&__item-name {
		color: #222;
		font-size: 31px;
		.bold();
		margin-bottom: 17px;
	}
	&__item-phone {
		font-size: 16px;
		.regular();
		color: #111;
		margin-bottom: 9px;
		a {
			color: #111;
			text-decoration: none;
		}
	}
	&__item-site {
		display: block;
		font-size: 16px;
		.regular();
		color: #04b;
		text-decoration: none;
		margin-bottom: 25px;
		&:hover {

		}
	}
	&__item-logo {

	}
}

@media screen and (max-width: 1030px) {
	.partners {
		margin-bottom: 108px;

		&__item {
			width: calc(~"(100% - 106px) / 2");
			&:nth-child(3n) {
				margin-right: 106px - 4px;
			}
			&:nth-child(2n) {
				margin-right: -4px;
			}
		}
	}
}

@media screen and (max-width: 770px) {
	.partners {
		margin-bottom: 108px;

		&__item {
			display: block;
			margin-right: 0;
			margin-bottom: 40px;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 370px) {
	.partners {
		margin-bottom: 50px;


		&__item-name {
			font-size: 25px;
		}
	}
}