.request-block {
	background: #fdf5e1;
	padding: 58px 0 95px;
	margin-bottom: 93px;

	&__title {
		color: #111;
		font-size: 55px;
		.regular();
		margin-bottom: 38px;
	}

	&__form {

	}
}

@media screen and (max-width: 770px) {
	.request-block {
		padding: 52px 0 52px;
		margin-bottom: 100px;

		&__title {
			font-size: 40px;
		}
	}
}

@media screen and (max-width: 500px) {
	.request-block {
		padding: 38px 0;
		margin-bottom: 50px;

		&__title {
			font-size: 30px;
		}
	}
}