.top-image-block {
	background: url(../img/top-image-block-bg.jpg) no-repeat center center;
	background-size: cover;
	height: 855px;
	margin-top: -92px;
	padding-top: 161px;
	padding-bottom: 112px;
	.box-sizing(border-box);

	&__container {
		text-align: left;
	}
	&__content {
		display: inline-block;
		vertical-align: top;
		width: 60%;
	}
	&__title {
		color: white;
		font-size: 55px;
		.regular();
		line-height: 1.5;
		margin-bottom: 51px;
	}
	&__bottom {

	}
	&__bottom-text {
		float: left;
		color: white;
		font-size: 30px;
		.light();
		line-height: 1.6;
		margin-top: -6px;
		width: calc(~"100% - 233px - 108px");
	}
	&__bottom-yandex-logo {
		float: right;
		background: url(../img/yandex-logo.png) no-repeat 0 0;
		background-size: contain;
		width: 233px;
		height: 277px;
		margin-right: 108px;
	}
}

@media screen and (max-width: 1210px) {
	.top-image-block {

		&__content {
			width: 70%;
		}

		&__bottom-text {
			.box-sizing(border-box);
			padding-right: 30px;
		}
	}
}

@media screen and (max-width: 1050px) {
	.top-image-block {
		position: relative;
		height: auto;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(34, 34, 34, 0.50);
			z-index: 10;
		}

		&__content {
			position: relative;
			z-index: 20;
		}
		&__title {
			font-size: 40px;
		}
		&__bottom-text {
			float: none;
			font-size: 24px;
			width: 100%;
			margin-bottom: 50px;

		}
		&__bottom-yandex-logo {
			float: none;
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 770px) {
	.top-image-block {
		margin-top: -240px;
		padding-top: 240px + 50px;
		padding-bottom: 65px;

		&__content {
			width: 100%;
		}
		&__title {
			font-size: 23px;
			margin-bottom: 30px;
		}
		&__bottom-text {
			font-size: 22px;
		}
		&__bottom-yandex-logo {
			margin-left: auto;
			margin-right: auto;
			width: 139px;
			height: 166px;
		}
	}
}